<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img [src]="currentImage"></ion-img>
  </ion-card>
  <ion-fab vertical="bottom" slot="fixed">
    <ion-row>
      <ion-col>
        <ion-fab-button (click)="takePicture()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-col>
      <ion-col>
        <ion-fab-button (click)="presentModal()">
          <ion-icon name="code"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
  </ion-fab>
</ion-content>